body {
    background : paleturquoise
}

h1{
    text-align: center;
    margin : 25px;
    color : #8e63c7
}

.playground{
    margin: 2em auto;
}

.square {
    width: 50px;
    height: 50px;
    float: left;
    background: #bddfbd;

}
.square:nth-child(even){
    background: #afdaaf;
}

.person,
.goal {
    position: relative;
}

.person:before,
.goal:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    line-height: 48px;

    font-size: 40px;
}

.person:before {
    content:"🙋‍♀️";  
}

.goal:before {
    content: "🏢"
}

.square.wall {
    background : url(./img/street-4771269_960_720.jpg); /* free to use image from pixabay */
    background-size: 150px;
}

.message {
    position: fixed;
    z-index: 9;
    right:0;
    bottom: 0;
    background-color: #E3DEC1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border: var(--border-normal);
    padding: 2rem;
    width: 20em;
    max-width: 100%;
    display: none; 
  }
  
  
.message--on {
    display: block;
    animation: .4s 0s 1 pop;
}

h2{
    text-align: center;
    color : #4C3E3D;
}

a{
    color : #4C3E3D;
    text-decoration: none;
}

img{
    display: block;
    margin: auto;
}

.message__close {
    position: absolute;
    right: 0;
    top: 0;
}

/* https://stackoverflow.com/questions/70783026/how-to-switch-language-by-toggle-button 
just for the fun of it and because it truly works very well*/

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3F51B5;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  input:checked+.slider {
    background-color: #FF3D00;
  }
  
  /* input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }
   */
  input:checked+.slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
  }
  
  
  /*------ ADDED CSS ---------*/
  
  .on {
    display: none;
  }
  
  .on,
  .off {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }
  
  input:checked+.slider .on {
    display: block;
  }
  
  input:checked+.slider .off {
    display: none;
  }



